/* *****************************************************

    ** Custom Stylesheet **

    Any custom styling you want to apply should be
    defined here.

***************************************************** */
body {
  font-family: 'Roboto', sans-sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
.top-bar {
  background: #1c1c1c;
  padding: 0 1rem;
}
ul.top-nav {
  float: none !important;
  margin: 0 !important;
}
ul.top-nav li a {
  color: #fff !important;
  font-size: .7rem;
  margin: 0;
  padding: .5rem .75rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
ul.top-nav li a:hover {
  background: #fff !important;
  color: #000!important;
}
